body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('content/Alternative Grafiken - Sharkie/3. Background/Dark/1.png');
    font-family: 'Luckiest Guy';
    color: white;
}

h1 {
    font-size: 48px;
    margin: 64px;
}

canvas {
    background-color: black;
    border: 10px, solid, darkblue;
    border-radius: 32px;
    margin: 0px;
}

#instructions {
    height: 200px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 32px;
}

#startScreen {
    height: 480px;
    width: 720px;
    object-fit: cover;
    border-radius: 20px;
    position: absolute;
    margin-top: 197px;
}

#winnerScreen{
    height: 480px;
    width: 720px;
    object-fit: cover;
    border-radius: 20px;
    position: absolute;
    margin-top: 197px;
}

#gameOverScreen {
    height: 82px;
    width: 620px;
    border-radius: 20px;
    position: absolute;
    margin-top: 330px;
}

#startButton,
#restartButton{
    height: 64px;
    position: absolute;
    margin-top: 560px;
}

#startButton:hover,
#restartButton:hover {
    cursor: pointer;
}

.d_none {
    display: none;
}