body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('content/Alternative Grafiken - Sharkie/3. Background/Dark/1.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    font-family: 'Luckiest Guy';
    color: white;
    margin: 0;
    min-height: 100vh;
    @media screen and (max-width: 730px),
    (max-height: 490px) {margin-top: 5vh; overflow: hidden;}
}

header {
    @media screen and (max-width: 730px),
    (max-height: 490px) {display: none;}
}

.imprint {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.turnMobileAdvice {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(0.625rem);
    top: 0;
    height: 480px;
    width: 720px;
    border-radius: 32px;
    position: absolute;

    @media screen and (max-width: 730px),
    (max-height: 490px) {
        height: calc(480px * 0.8);
        width: calc(720px * 0.8);
    }
    
    @media screen and (max-width: 600px),
    (max-height: 420px) {
        height: calc(480px * 0.7);
        width: calc(720px * 0.7);
    }
    @media screen and (max-width: 550px),
    (max-height: 390px) {
        height: calc(480px * 0.6);
        width: calc(720px * 0.6);
    }
    @media screen and (max-width: 500px) {
        height: calc(480px * 0.5);
        width: calc(720px * 0.5);
    }
    @media screen and (max-width: 400px) {
        height: calc(480px * 0.4);
        width: calc(720px * 0.4);
    }
}

.adviceMessage {
    font-size: 24px;
    @media screen and (max-width: 500px) {
        font-size: 16px;
    }
}

main {
    flex: 1;
}

h1 {
    font-size: 48px;
    margin: 48px;
}

#canvasContent {
    position: relative;
}

#canvasContent:fullscreen {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvasContent:-webkit-full-screen {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvasDefault {
    width: 720px;
    height: 480px;
}

#canvas {
    width: 100%;
    height: 100%;
    display: block;
    background-color: black;
    border-radius: 32px;
    margin: 0px;
    margin-bottom: 36px;

    @media screen and (max-width: 730px),
    (max-height: 490px) {
        height: calc(480px * 0.8);
        width: calc(720px * 0.8);
    }

    @media screen and (max-width: 600px),
    (max-height: 420px) {
        height: calc(480px * 0.7);
        width: calc(720px * 0.7);
    }
    @media screen and (max-width: 550px),
    (max-height: 390px) {
        height: calc(480px * 0.6);
        width: calc(720px * 0.6);
    }
    @media screen and (max-width: 500px) {
        height: calc(480px * 0.5);
        width: calc(720px * 0.5);
    }
    @media screen and (max-width: 400px) {
        height: calc(480px * 0.4);
        width: calc(720px * 0.4);
    }
}

.screensAndButtons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 480px;
    width: 720px;
    border-radius: 32px;
    position: absolute;
    top: 0;
    margin-bottom: 36px;

    @media screen and (max-width: 730px),
    (max-height: 490px) {
        height: calc(480px * 0.8);
        width: calc(720px * 0.8);
        top: 0;
    }

    @media screen and (max-width: 600px),
    (max-height: 420px) {
        height: calc(480px * 0.7);
        width: calc(720px * 0.7);
        top: 0;
    }
    @media screen and (max-width: 550px),
    (max-height: 390px) {
        height: calc(480px * 0.6);
        width: calc(720px * 0.6);
    }
    @media screen and (max-width: 500px) {
        height: calc(480px * 0.5);
        width: calc(720px * 0.5);
    }
    @media screen and (max-width: 400px) {
        height: calc(480px * 0.4);
        width: calc(720px * 0.4);
    }
}

#menuButtons {
    width: fit-content;
    position: absolute;
    display: flex;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

#openMenuBtn,
#closeMenuBtn {
    padding: 0.5rem;
    height: 32px;
    cursor: pointer;

    @media screen and (max-width: 730px),
    (max-height: 490px) {}

    @media screen and (max-width: 600px),
    (max-height: 420px) {
        scale: 0.8;
    }
    @media screen and (max-width: 550px),
    (max-height: 390px) {
        scale: 0.7;
    }
}

#fullscreenOnBtn,
#fullscreenOffBtn {
    padding: 0.5rem;
    height: 32px;
    cursor: pointer;
}

.soundBtn {
    padding: 0.5rem;
    height: 32px;
    cursor: pointer;
    
    @media screen and (max-width: 724px) {}
    
    @media screen and (max-width: 600px),
    (max-height: 420px) {
        scale: 0.8;
    }
    @media screen and (max-width: 550px),
    (max-height: 390px) {
        scale: 0.7;
    }
}

.controll_arrows {
    left: 5%;
    bottom: 5%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap-reverse;
    width: 14rem;
    max-height: fit-content;

    @media screen and (max-width: 730px) {
        width: calc(14rem * 0.8);
    }

    @media screen and (max-width: 600px),
    (max-height: 420px) {
        width: calc(14rem * 0.7);
    }
    @media screen and (max-width: 550px),
    (max-height: 390px) {
        width: calc(19rem * 0.5);
    }
}

.attack-buttons {
    right: 5%;
    bottom: 5%;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
    max-height: fit-content;
}

.mobile-btn {
    height: 3rem;
    margin: 0.5rem;

    @media screen and (max-width: 730px) {
        height: calc(3rem * 0.8);
    }

    @media screen and (max-width: 600px),
    (max-height: 420px) {
        height: calc(3rem * 0.7);
    }
    @media screen and (max-width: 550px),
    (max-height: 390px) {
        height: calc(3rem * 0.6);
    }
    @media screen and (max-width: 500px) {
        height: calc(3rem * 0.5);
    }
    @media screen and (max-width: 400px) {
        height: calc(3rem * 0.48);
    }
}

.fullWinnerScreen,
.fullStartScreen {
    width: 200% !important;
    height: 200% !important;
}

#instructions {
    height: 300px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 730px),
    (max-height: 490px) {
        height: calc(300px * 0.8);
        width: calc(400px * 0.8);
    }
    @media screen and (max-width: 550px),
    (max-height: 390px) {
        height: calc(300px * 0.6);
        width: calc(400px * 0.6);
    }
    @media screen and (max-width: 500px) {
        height: calc(300px * 0.5);
        width: calc(400px * 0.5);
    }
    @media screen and (max-width: 400px) {
        height: calc(300px * 0.4);
        width: calc(400px * 0.4);
    }
}

#startScreen,
#winnerScreen {
    height: 480px;
    width: 720px;
    object-fit: cover;
    border-radius: 32px;
    position: absolute;

    @media screen and (max-width: 730px),
    (max-height: 490px) {
        height: calc(480px * 0.8);
        width: calc(720px * 0.8);
    }

    @media screen and (max-width: 600px),
    (max-height: 420px) {
        height: calc(480px * 0.7);
        width: calc(720px * 0.7);
    }
    @media screen and (max-width: 550px),
    (max-height: 390px) {
        height: calc(480px * 0.6);
        width: calc(720px * 0.6);
    }
    @media screen and (max-width: 500px) {
        height: calc(480px * 0.5);
        width: calc(720px * 0.5);
    }
    @media screen and (max-width: 400px) {
        height: calc(480px * 0.4);
        width: calc(720px * 0.4);
    }
}

.instructionsOnHoverStart {
    display: block;
    top: 30% !important;
    scale: 0.8;
    z-index: 2;
}

#gameOverScreen {
    height: 82px;
    width: 620px;
    border-radius: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 730px),
    (max-height: 490px) {
        height: calc(82px * 0.8);
        width: calc(620px * 0.8);
    }

    @media screen and (max-width: 600px),
    (max-height: 420px) {
        height: calc(82px * 0.7);
        width: calc(620px * 0.7);
    }
    @media screen and (max-width: 550px),
    (max-height: 390px) {
        height: calc(82px * 0.6);
        width: calc(620px * 0.6);
    }
    @media screen and (max-width: 500px) {
        height: calc(82px * 0.5);
        width: calc(620px * 0.5);
    }
    @media screen and (max-width:4500px) {
        height: calc(82px * 0.4);
        width: calc(620px * 0.4);
    }
}

#mainScreens {
    position: relative;
    width: 100%;
    height: calc(100%);
    border-radius: 32px;
    backdrop-filter: blur(0.625rem);
}

#startButton {
    height: 64px;
    position: absolute;
    top: 70%;
    left: 50%;

    @media screen and (max-width: 730px),
    (max-height: 490px) {
        height: calc(64px * 0.8);
    }

    @media screen and (max-width: 600px),
    (max-height: 420px) {
        height: calc(64px * 0.7);
    }
    @media screen and (max-width: 550px),
    (max-height: 390px) {
        height: calc(64px * 0.6);
    }
    @media screen and (max-width: 500px) {
        height: calc(64px * 0.5);
    }
    @media screen and (max-width: 400px) {
        height: calc(64px * 0.4);
    }}

#restartButton {
    height: 64px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    @media screen and (max-width: 730px) {
        height: calc(64px * 0.8);
    }
    
    @media screen and (max-width: 600px),
    (max-height: 420px) {
        height: calc(64px * 0.7);
    }
    @media screen and (max-width: 550px),
    (max-height: 390px) {
        height: calc(64px * 0.6);
    }
    @media screen and (max-width: 500px) {
        height: calc(64px * 0.3);
    }
    @media screen and (max-width: 400px) {
        height: calc(64px * 0.4);
    }
}

#endbossAway {
    font-size: 18px;
    position: absolute;
    white-space: nowrap;
    top: 60%;
    left: 50%;
    color: rgb(95, 0, 0);
    padding: 12px;
    background-color: red;
    border-radius: 16px;
    animation: fadeScaleIn 4s forwards;

    @media screen and (max-width: 730px) {
    font-size: 16px;
    padding: 8px;
    }
}

.btn {
    cursor: pointer;
}

.d_none {
    display: none !important;
}

.t {
    background-color: rgb(194, 194, 194);
    padding: 0.625rem;
}

footer {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer a {
    padding: 8px;
    color: rgb(127, 255, 224);
    text-decoration: none;
}

footer a:hover {
    padding: 8px;
    text-decoration: underline;
}

@keyframes fadeScaleIn {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.8);
    }
    25% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.8);
    }
    60% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }